@import url('https://fonts.googleapis.com/css2?family=Fraunces&family=Noto+Sans+JP&display=swap" rel="stylesheet');

.logo {
  background-color: #f7f0f5;
  padding: 10px;
}

h1 a {
  color: #6a2e35;
  font-family: 'Fraunces', serif;
  font-size: 35px;
}

h1 {
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-between;
}

.user {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #6a2e35;
}