.stats {
  background-color: #0d0630;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.stats > button,
.stats-btns > button {
  cursor: pointer;
  margin: 15px;
  width: 90px;
  height: 50px;
}

.labels {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.balance-divs > div,
.expense-divs > div {
  height: 15px;
  width: 30px;
  display: inline-block;
  border: 1px solid #f7f0f5;
}

.balance-divs > span,
.expense-divs > span {
  color: #f7f0f5;
  margin: 3px;
}

.stats > button:hover,
.stats-btns > button:hover {
  background-color: #50a2a7;
  color: #f7f0f5;
  font-weight: 500;
  letter-spacing: 1px;
}

.no-stats {
  color: #f7f0f5;
  font-size: 20px;
  text-align: center;
}

@media all and (max-width: 450px) {
  .balance-divs > div,
  .expense-divs > div {
    height: 10px;
    width: 20px;
  }

  .balance-divs  span,
  .expense-divs  span {
    font-size: 10px;
  }
}
