.stats {
  background-color: #0d0630;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top : 10px;
}

.stats > button,
.stats-btns > button {
  cursor: pointer;
  margin: 15px;
  width: 90px;
  height: 50px;
}

.stats > button:hover,
.stats-btns > button:hover {
  background-color: #e4d6a7;
}
