@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #bcabae;
  font-family: 'Noto Sans JP', sans-serif;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

.buttons {
  margin: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.buttons .btn {
  width: 10%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.buttons .btn:hover {
  color: white;
  background-color: #6a2e35;
  border: 1px solid white;
}

.sign-up-container,
.sign-in-container {
  position: relative;
  width: 75%;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 720px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-control {
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#btns .btn {
  width: 55%;
}

h2 {
  color: #6a2e35;
}

button {
  min-width: 80px;
}

footer {
  position: absolute;
  bottom: 5px;
  right: 5px;
  left: 5px;
  background-color: #f7f0f5;
  height: 50px;
  padding: 1px;
  text-align: center;
  z-index: -1;
  color: #6a2e35;
}

.to-signup,
.to-signin {
  color: #6a2e35;
}

.trx-form > .label-ctl {
  margin: 3px;
  width: 80%;
}

main {
  position: relative;
  z-index: 1;
}

.landing {
  background-color: #f7f0f5;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media all and (max-width: 650px) {
  .sign-up-container,
  .sign-in-container {
    width: 90%;
  }

  .buttons .btn {
    margin: 2px;
    padding: 5px;
    font-size: 10px;
  }

  .spending {
    font-size: 25px;
  }

  .margin {
    margin: 5px;
    font-size: 15px;
  }

  .stats-btns > button {
    width: 60px;
  }

  .no-trx {
    font-size: 15px;
  }

  .category,
  .amount {
    font-size: 15px;
  }

  span.date {
    font-size: 10px;
  }

  .display-transaction {
    width: 80%;
  }

  .label-ctl {
    width: 80%;
    margin: 5px;
  }
}

@media all and (max-width: 450px) {
  .sign-up-container,
  .sign-in-container {
    width: 95%;
  }

  h2 {
    font-size: 15px;
  }

  .form {
    width: 95%;
  }

  .spending {
    font-size: 15px;
  }

  .display-transaction {
    width: 95%;
  }

  .trx-form > .label-ctl,
  .add-account > .label-ctl,
  .add-category-form > .label-ctl {
    width: 95%;
    margin: 2px;
  }
}
