@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #BCABAE;
  font-family: 'Noto Sans JP', sans-serif;
}

a {
  text-decoration: none;
}

.buttons {
  margin: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.buttons button {
  width: 10%;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:hover {
    color: white;
    background-color: #6A2E35;
    border: 1px solid white;
}

.sign-up-container,
.sign-in-container {
    position: relative;
    width: 75%;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label-control {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#btns button {
    width: 55%;
}

h2 {
    color: #6A2E35;
}