.display-transaction {
  margin: 10px;
}

.hidden {
  display: none;
}

.trx {
  background-color: #0d0630;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.date-picker {
  margin-top: 5px;
}

.react-datepicker__input-container > input {
  background-color: #f7f0f5;
  height: 40px;
  font-size: 20px;
  text-align: center;
}

.react-datepicker__input-container > input:hover {
  cursor: pointer;
}

.display-transaction {
  background-color: #f7f0f5;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}

.add-trx {
  margin-bottom: 10px;
  height: 50px;
  width: 90px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  color: #1c110a;
}

.add-trx:hover {
  cursor: pointer;
  background-color: #50a2a7;
  color: #f7f0f5;
}

.individual-trx {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.individual-trx:hover {
  background-color: #bfd7ea;
  cursor: pointer;
}

.category,
.amount {
  font-size: 25px;
  font-weight: 500;
  color: #1c110a;
}

.cat-date {
  display: flex;
  flex-direction: column;
}

.amt-account {
  display: flex;
  flex-direction: column;
}

.amount {
  color: #9b2915;
}

.no-trx {
  font-size: 25px;
  font-weight: 500;
  color: #1c110a;
  text-align: center;
}

.add-transaction {
  background-color: #0d0630;
}

.add-transaction > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-ctl {
  width: 50%;
  margin: 10px;
  height: 70px;
}

.add-transaction form label {
  color: #f7f0f5;
}

.css-2b097c-container {
  margin-top: 5px;
  height: 60%;
}

.label-ctl input {
  display: block;
  width: 100%;
  margin-top: 5px;
  height: 60%;
}

.label-ctl > input:focus {
  outline: none;
  border: 3px solid #3a7ca5;
}

.add-transaction > h2 {
  text-align: center;
  color: #f7f0f5;
  margin: 10px;
  padding-top: 5px;
  font-size: 25px;
}

.add-transaction button {
  margin: 10px;
  width: 90px;
  height: 40px;
}

.add-transaction button:hover {
  cursor: pointer;
  background-color: #50a2a7;
  color: #f7f0f5;
  letter-spacing: 1px;
}

.err {
  color: #f7f0f5;
  margin: 10px;
}

.border-bottom {
  border-bottom: 1px solid #6a2e35;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trx-buttons button,
.edit-buttons button {
  margin: 5px;
  width: 70px;
  height: 35px;
}

.trx-buttons button:hover,
.edit-buttons button:hover {
  cursor: pointer;
  background-color: #50a2a7;
  color: #f7f0f5;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0630;
}

